<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fr3">

    <xacro:include filename="$(find franka_description)/robots/common/franka_arm.srdf.xacro"/>

    <!-- ============================================================= -->
    <!-- Which arm: left or right -->
    <xacro:arg name="side" default='left'/>

    <!-- Should an end-effector be mounted at the flange? -->
    <xacro:arg name="hand" default="true" />

    <!-- Should self-collision be enabled? -->
    <xacro:arg name="with_sc" default="true" />

    <!-- Assume Husky as two wheel mobile? (use only for pinocchio, not ros2_control) -->
    <xacro:arg name="as_two_wheels" default="true"/>
    <!-- ============================================================= -->

    <!-- Derived arm_prefix from side -->
    <xacro:property name="arm_prefix" value="$(arg side)"/>

    <xacro:property name="modified_prefix"
                    value="${arm_prefix + '_' if arm_prefix else ''}"/>

    <xacro:property name="as_two_wheels_val" value="$(arg as_two_wheels)"/>
    <xacro:property name="wheel_suffix"
                    value="${'_dummy' if str(as_two_wheels_val).lower() == 'true' else ''}"/>

    <xacro:franka_arm_srdf arm_id="fr3"
                           hand="$(arg hand)"
                           ee_id="franka_hand"
                           no_prefix="false"
                           arm_prefix="${modified_prefix}">
    </xacro:franka_arm_srdf>

    <xacro:if value="$(arg with_sc)">
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link0_sc" reason="Adjacant"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link1_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link2_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link3_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link6_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link7_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link5"    reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link6"    reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_link7"    reason="User"/>
        
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link0_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link1_sc" reason="Adjacant"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link2_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link3_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link6_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link7_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link5"    reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link6"    reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_link7"    reason="User"/>
        
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="${modified_prefix}fr3_link0_sc" reason="Default"/>

        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link0_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link1_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link2_sc" reason="Adjacant"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link3_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link6_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link7_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link5"    reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link6"    reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_link7"    reason="User"/>
        
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="${modified_prefix}fr3_link0_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="${modified_prefix}fr3_link1_sc" reason="Default"/>

        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link0_sc"     reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link1_sc"     reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link2_sc"     reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link3_sc"     reason="Adjacant"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link4_sc"     reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link5_sc"     reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link6_sc"     reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_link7_sc"     reason="Never"/>

        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="${modified_prefix}fr3_link0_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="${modified_prefix}fr3_link1_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="${modified_prefix}fr3_link2_sc" reason="Default"/>

        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link1_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link2_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link3_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link4_sc" reason="Adjacant"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link5_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_link7_sc" reason="Never"/>

        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="${modified_prefix}fr3_link0_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="${modified_prefix}fr3_link1_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="${modified_prefix}fr3_link2_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="${modified_prefix}fr3_link3_sc" reason="Default"/>

        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link1_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link2_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link3_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link5_sc" reason="Adjacant"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link6_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_link7_sc" reason="Default"/>

        <disable_collisions link1="${modified_prefix}fr3_link5_sc" link2="${modified_prefix}fr3_link3_sc" reason="User"/> <!-- for real robot, they never collide-->
        <disable_collisions link1="${modified_prefix}fr3_link5_sc" link2="${modified_prefix}fr3_link4_sc" reason="Default"/>

        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link1_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link2_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link3_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link6_sc" reason="Adjacant"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_link7_sc" reason="Default"/>

        <disable_collisions link1="${modified_prefix}fr3_link6_sc" link2="${modified_prefix}fr3_link3_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link6_sc" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link6_sc" link2="${modified_prefix}fr3_link5_sc" reason="Default"/>

        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link1_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link2_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link3_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link6_sc" reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_link7_sc" reason="Adjacant"/>

        <disable_collisions link1="${modified_prefix}fr3_link7_sc" link2="${modified_prefix}fr3_link3_sc" reason="User"/> <!-- for real robot, they never collide-->
        <disable_collisions link1="${modified_prefix}fr3_link7_sc" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link7_sc" link2="${modified_prefix}fr3_link5_sc" reason="User"/> <!-- for real robot, they never collide-->
        <disable_collisions link1="${modified_prefix}fr3_link7_sc" link2="${modified_prefix}fr3_link6_sc" reason="Default"/>

        
        <xacro:if value="$(arg hand)">
            <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_hand_sc"     reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_hand"        reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_leftfinger"  reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link0" link2="${modified_prefix}fr3_rightfinger" reason="User"/>

            <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_hand_sc"     reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_hand"        reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_leftfinger"  reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link1" link2="${modified_prefix}fr3_rightfinger" reason="User"/>

            <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_hand_sc"     reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_hand"        reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_leftfinger"  reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link2" link2="${modified_prefix}fr3_rightfinger" reason="User"/>

            <disable_collisions link1="${modified_prefix}fr3_link3" link2="${modified_prefix}fr3_hand_sc"      reason="Never"/>

            <disable_collisions link1="${modified_prefix}fr3_link4" link2="${modified_prefix}fr3_hand_sc"  reason="Never"/>

            <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_hand"        reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_leftfinger"  reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_rightfinger" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_link5" link2="${modified_prefix}fr3_hand_sc"  reason="Never"/>

            <disable_collisions link1="${modified_prefix}fr3_link6" link2="${modified_prefix}fr3_hand_sc"  reason="Never"/>
            
            <disable_collisions link1="${modified_prefix}fr3_link7" link2="${modified_prefix}fr3_hand_sc"  reason="Default"/>

            <disable_collisions link1="${modified_prefix}fr3_hand" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="${modified_prefix}fr3_link1_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="${modified_prefix}fr3_link2_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="${modified_prefix}fr3_link3_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="${modified_prefix}fr3_link5_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="${modified_prefix}fr3_link7_sc" reason="Default"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="${modified_prefix}fr3_hand_sc"  reason="Adjacant"/>

            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_hand_sc" link2="${modified_prefix}fr3_link7_sc" reason="Default"/>

            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="${modified_prefix}fr3_link1_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="${modified_prefix}fr3_link2_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="${modified_prefix}fr3_link3_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="${modified_prefix}fr3_link5_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="${modified_prefix}fr3_link7_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="${modified_prefix}fr3_hand_sc"  reason="Default"/>

            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link0_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link1_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link2_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link3_sc" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link4_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link5_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link6_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_link7_sc" reason="Never"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="${modified_prefix}fr3_hand_sc"  reason="Default"/>
        </xacro:if>
    </xacro:if>

    <!-- Husky shaped table as base for the Single FR3 -->
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="front_left_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="front_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="base_link" reason="Adjacent"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="rear_left_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="rear_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link0" link2="top_structure_link" reason="Default"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="front_left_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="front_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="base_link" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="rear_left_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="rear_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link1" link2="top_structure_link" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="front_left_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="front_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="base_link" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="rear_left_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="rear_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link2" link2="top_structure_link" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="base_link" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="rear_left_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="rear_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link3" link2="top_structure_link" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link4" link2="base_link" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link4" link2="rear_left_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="${modified_prefix}fr3_link4" link2="rear_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="front_left_wheel${wheel_suffix}" link2="front_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="front_left_wheel${wheel_suffix}" link2="base_link" reason="Adjacent"/>
    <disable_collisions link1="front_left_wheel${wheel_suffix}" link2="rear_left_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="front_left_wheel${wheel_suffix}" link2="rear_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="front_left_wheel${wheel_suffix}" link2="top_structure_link" reason="Never"/>
    <disable_collisions link1="front_right_wheel${wheel_suffix}" link2="base_link" reason="Adjacent"/>
    <disable_collisions link1="front_right_wheel${wheel_suffix}" link2="rear_left_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="front_right_wheel${wheel_suffix}" link2="rear_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="front_right_wheel${wheel_suffix}" link2="top_structure_link" reason="Never"/>
    <disable_collisions link1="base_link" link2="rear_left_wheel${wheel_suffix}" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="rear_right_wheel${wheel_suffix}" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="top_structure_link" reason="Adjacent"/>
    <disable_collisions link1="rear_left_wheel${wheel_suffix}" link2="rear_right_wheel${wheel_suffix}" reason="Never"/>
    <disable_collisions link1="rear_left_wheel${wheel_suffix}" link2="top_structure_link" reason="Never"/>
    <disable_collisions link1="rear_right_wheel${wheel_suffix}" link2="top_structure_link" reason="Never"/>

    <xacro:if value="$(arg with_sc)">
        

        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="front_left_wheel${wheel_suffix}"  reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="front_right_wheel${wheel_suffix}" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="rear_left_wheel${wheel_suffix}"   reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="rear_right_wheel${wheel_suffix}"  reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="base_link"       reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link0_sc" link2="top_structure_link"       reason="Default"/>

        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="front_left_wheel${wheel_suffix}"  reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="front_right_wheel${wheel_suffix}" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="rear_left_wheel${wheel_suffix}"   reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="rear_right_wheel${wheel_suffix}"  reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="base_link"       reason="Default"/>
        <disable_collisions link1="${modified_prefix}fr3_link1_sc" link2="top_structure_link"       reason="Default"/>

        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="front_left_wheel${wheel_suffix}"  reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="front_right_wheel${wheel_suffix}" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="rear_left_wheel${wheel_suffix}"   reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="rear_right_wheel${wheel_suffix}"  reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="base_link"       reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link2_sc" link2="top_structure_link"       reason="Never"/>

        <disable_collisions link1="${modified_prefix}fr3_link3" link2="front_left_wheel${wheel_suffix}"  reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link3" link2="front_right_wheel${wheel_suffix}" reason="User"/>

        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="front_left_wheel${wheel_suffix}"  reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="front_right_wheel${wheel_suffix}" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="rear_left_wheel${wheel_suffix}"   reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="rear_right_wheel${wheel_suffix}"  reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="base_link"       reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link3_sc" link2="top_structure_link"       reason="Never"/>

        <disable_collisions link1="${modified_prefix}fr3_link4" link2="front_left_wheel${wheel_suffix}"  reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="front_right_wheel${wheel_suffix}" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link4" link2="top_structure_link"       reason="User"/>


        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="front_left_wheel${wheel_suffix}"  reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="front_right_wheel${wheel_suffix}" reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="rear_left_wheel${wheel_suffix}"   reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="rear_right_wheel${wheel_suffix}"  reason="Never"/>
        <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="base_link"       reason="Never"/>
        <!-- <disable_collisions link1="${modified_prefix}fr3_link4_sc" link2="top_structure_link"       reason="Never"/> --> <!-- for real robot, they collide-->

        <disable_collisions link1="${modified_prefix}fr3_link5" link2="front_left_wheel${wheel_suffix}"  reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="front_right_wheel${wheel_suffix}" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="rear_left_wheel${wheel_suffix}"   reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="rear_right_wheel${wheel_suffix}"  reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="base_link"       reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link5" link2="top_structure_link"       reason="User"/>
        
        <!-- <disable_collisions link1="${modified_prefix}fr3_link5_sc" link2="rear_left_wheel${wheel_suffix}"  reason="User"/>  --> <!-- for real robot, they collide-->

        <disable_collisions link1="${modified_prefix}fr3_link6" link2="front_left_wheel${wheel_suffix}"  reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="front_right_wheel${wheel_suffix}" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="rear_left_wheel${wheel_suffix}"   reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="rear_right_wheel${wheel_suffix}"  reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="base_link"       reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link6" link2="top_structure_link"       reason="User"/>

        <disable_collisions link1="${modified_prefix}fr3_link7" link2="front_left_wheel${wheel_suffix}"  reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="front_right_wheel${wheel_suffix}" reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="rear_left_wheel${wheel_suffix}"   reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="rear_right_wheel${wheel_suffix}"  reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="base_link"       reason="User"/>
        <disable_collisions link1="${modified_prefix}fr3_link7" link2="top_structure_link"       reason="User"/>
        


        <xacro:if value="$(arg hand)">
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="front_left_wheel${wheel_suffix}"  reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="front_right_wheel${wheel_suffix}" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="rear_left_wheel${wheel_suffix}"   reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="rear_right_wheel${wheel_suffix}"  reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="base_link"       reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_hand" link2="top_structure_link"       reason="User"/>

            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="front_left_wheel${wheel_suffix}"  reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="front_right_wheel${wheel_suffix}" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="rear_left_wheel${wheel_suffix}"   reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="rear_right_wheel${wheel_suffix}"  reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="base_link"       reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_leftfinger" link2="top_structure_link"       reason="User"/>

            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="front_left_wheel${wheel_suffix}"  reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="front_right_wheel${wheel_suffix}" reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="rear_left_wheel${wheel_suffix}"   reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="rear_right_wheel${wheel_suffix}"  reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="base_link"       reason="User"/>
            <disable_collisions link1="${modified_prefix}fr3_rightfinger" link2="top_structure_link"       reason="User"/>
        </xacro:if>
    </xacro:if>

    

</robot>
